/node_modules
/build
/dist
/dist-ssr
/.next/
/.output/
/.svelte-kit/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
/coverage
.cache
.npm
.yarn-cache
.DS_Store
Thumbs.db
desktop.ini
*~
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?